.canvas {
  position: absolute;
  left: 0;
  right: 0;
  background-color: hotpink;
}

.form {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: black;
  width: 100px;
  display: flex;
  flex-direction: column;
}
.form * {
  max-width: 80px;
}
